.buttonDiv {
  margin: 10px;
  background-color: #dddad9;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1rem;
}

.owner {
  position: absolute;
  top: 15vh;
  left: 10%;
  width: 80%;
}

.worker {
  display: flex;
  position: absolute;
  top: 20vh;
  left: 10%;
  width: 100%;
}

.details {
  flex-direction: column;
  margin: 10px;
  background-color: #eee6e5;
  border-radius: 1rem;
  width: 73%;
  padding: 1rem;
}

@media (min-width: 768px) {
  .owner {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
